<div class="container mt-4">
  <h2>Lista de Hospitales</h2>
  
  <div *ngIf="hospitales.length > 0; else noHospitales">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of hospitales">
          <td>{{ hospital.idHospital }}</td>
          <td>{{ hospital.nombreHospital }}</td>
          <td>{{ hospital.direccionHospital }}</td>
          <td>{{ hospital.telefonoHospital }}</td>
          <td>{{ hospital.emailHospital }}</td>
          <td>{{ hospital.tipoHospital }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noHospitales>
    <div class="alert alert-warning">
      No hay hospitales registrados.
    </div>
  </ng-template>
</div>
